{% extends 'search.html' %}

{% block content %}
<div style="display: grid; place-content: center; height: auto;">
    <form method="post" action="/login" id="register-form" class="register-form" style="width: 700px; margin-left: auto; margin-right: auto; background-color: rgb(10, 202, 138);padding: 30px; border-radius: 30px; margin: 40px 40px;">
      {% csrf_token %}
      <p style="font-size: xxx-large; text-align: center;">Welcome Back</p>
        <div class="row m-3">
          <div class="col-md-4">
            <label for="id_username" style="font-size: x-large;">Username</label>
          </div>
          <div class="col-md-8">
            <input type="text" class='form-control' id="id_username" name="username" placeholder="Enter Username" required>
          </div>
        </div>
        <div class="row m-3">
          <div class="col-md-4">
            <label for="pdw" style="font-size: x-large;">Password</label>
          </div>
          <div class="col-md-8">
            <input type="password" id="pdw" name="pwd" class="form-control" placeholder="Enter Password" required>
          </div>
        </div>
        <div style="display: block;align-items: center;">
          <button type="submit" class="btn btn-dark" style="font-size: x-large; margin-left: 30px;">Log In</button>
          <span> First time using ? <a href="register"> register</a></span>
        </div>
    </form>
</div>
{% endblock %}