{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href='{% static "css/login2.css" %}'>
   </head>
<body>
  <div class="container">
    <div class="title">Login</div>
    <div class="content">
        <form method="post" action="/login">'
          {% csrf_token %}
        <div class="user-details">
            
          <div class="input-box">
            <span class="details">Username</span>
            <input type="text" placeholder="Enter your username" name="username" required>
          </div>
        <br></br>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="password" placeholder="Enter your password" name="pwd" required>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Login" name="submit">
        </div>
        <div class="register link">New user?<a href="/register" > Register here</a> </div>
      </form>
    </div>
  </div>
</body>
</html>